<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Produto</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body class="cadastrar">
  <div class="container">
    <h1>Cadastrar Produto</h1>
    <form action="/salvar" method="post">
      <label>Nome:</label>
      <input type="text" name="nome">
      <label>Preço:</label>
      <input type="number" step="0.01" name="preco">
      <label>Quantidade:</label>
      <input type="number" name="quantidade">
      <button type="submit">Salvar</button>
    </form>
    <br>
    <a href="/produtos" class="botao">Voltar</a>
  </div>
</body>

</html>