body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    background-color: #f4ffec; /* Cor de fundo suave */
    display: flex; /* Usa flexbox para centralizar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da tela */
}

.container {
    background-color: #dffdca; /* Fundo branco para o container */
    padding: 50px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

h1 {
    font-size: 24px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

form {
    display: flex; /* Usa flexbox para o formulário */
    flex-direction: column; /* Coloca os elementos em coluna */
}

label {
    margin-bottom: 10px; /* Espaçamento abaixo do rótulo */
}

input[type="text"] {
    padding: 10px; /* Espaçamento interno do campo de texto */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 4px; /* Bordas arredondadas */
    margin-bottom: 10px; /* Espaçamento abaixo do campo de texto */
}

button {
    padding: 10px; /* Espaçamento interno do botão */
    background-color: #28a745; /* Cor de fundo verde */
    color: white; /* Cor do texto branco */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
}

button:hover {
    background-color: #218838; /* Cor de fundo verde escuro ao passar o mouse */
}

.result {
    font-size:15px;
    margin-top: 20px; /* Espaçamento acima da seção de resultados */
}